<app-cabecalho titulo="Amigos"></app-cabecalho>
<section>
    <div class="amigo-item" *ngFor="let item of amigos; let id = 'index'">
        <label class="amigo-nome">{{item.amigo.nome}}</label>
        <div class="opcoes-container">
            <div class="opcoes-botao" (click)="toggle(item)">
                <label>...</label>
            </div>
        </div>
        <div [hidden]="item.hidden" class="opcoes-menu shadow">
            <label class="opcoes-item">Editar</label>
            <label class="opcoes-item">Excluir</label>
        </div>
    </div>
</section>