<app-cabecalho titulo="Atualizar"></app-cabecalho>
<section>
    <div class="conteiner">
        <form [formGroup]="form">
            <div>
                <label class="id">ID</label>
                <input  class="id_valor" type="text" formControlName="id">
            </div>
            <div>
                <label class="nome">Nome</label>
                <input type="text" placeholder="..." formControlName="nome" />
            </div>
        </form>
    </div>
</section>
<button (click)="salvar()" class="button">Salvar</button>